.py-4 {
    padding-top: 1.5rem !important;
    color: red;
}

.text-muted {
    --bs-text-opacity: 1;
    color: white !important;
    background-color: black;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

.small {
    font-size: 0.875em;
}

.justify-content-between {
    display: flex !important;
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.container-fluid {
    width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
    
